body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.Parkinglot_detail {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.Parkinglot {
  display: grid;
  width: 100px;
  height: auto;
  grid-template-columns: 2fr 2fr 1fr;

}

.ParkinglotNE {
  display: none;
}

.EmtyP {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: red;
}

.parking {
  border: 2px solid red;
  padding: 8px 16px;
  white-space: nowrap;
}
.DLTbtn{
  display: none !important;
}
.parking:hover + .DLTbtn, .DLTbtn:hover{
  display: inline-block !important;
  position: absolute;
  padding: 2px;
  float: right;
}
.fa{
  background-color: red !important;
  border: none !important;
  color: white !important;
  padding: 2px !important;
}
.fa-trash{
  margin-right: 2px !important;
}